@CHARSET "UTF-8";

.menu{
	color: #FFF;
	display:block;
	margin-top: 5px;
	font-size: 30px;
	margin-top: 5px;
}

.mensagem{
	margin-top:70px;
}

.centralizar{
	text-align:center;
}

.text-decoration{
	text-decoration:none !important;
}

.nav-link {
  padding: 10px 20px;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  background: #c8ccc6
}

.inline-block {
  display: inline-block;
}

.position-h2{
	padding-top: 30px;
    padding-left: 70px;
}

#ajuste{
	margin-top: 25px;
}
