<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/home.css"  th:href="@{/css/home.css}"/>
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Lavanderia Crescer</title>
	</head>
	<body>
		<div class = "navbar navbar navbar-fixed-top">
      <nav>
        <ul class="reset-list">
          <li class="inline-block">
            <a class="text-decoration nav-link  inline-block" href="/">Home</a>
          </li>
          <li class="inline-block">
            <a class="text-decoration nav-link inline-block" href="/clientes/novo">Cadastrar cliente</a>
          </li>
          <li class="inline-block">
            <a class="text-decoration nav-link inline-block" href="/clientes">Listagem de clientes</a>
          </li>
          <li class="inline-block">
            <a class="text-decoration nav-link inline-block" href="/produtos">Listagem produtos</a>
          </li>
          <li class="inline-block">
            <form name="form" sec:authorize="isAuthenticated()" th:action="@{/logout}" action="/logout" method="POST">
				<input type="submit" value="Logout" class="btn btn-danger" />
			</form>
          </li>
        </ul>
      </nav>
	</div>
	<div layout:fragment="content">
    </div>
	</body>
</html>