
@{
    ViewBag.Title = "Mind Games - Home";
}

<h2>Mind Games</h2>
<p id="apresentacao">Reviva os clássicos que marcaram milhões de pessoas</p>
<img src="http://elite42.com.br/wp-content/uploads/2014/08/personagens-game-jogos.jpg">

<button id="listaDeJogos" type="button" class="btn btn-primary">Exibir lista de jogos</button>