<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="template">
  	<head>
		<title>Visualizar</title>
	</head>
	<body>
	<div layout:fragment="content">
		<div class="col-lg-6 col-lg-offset-3">
			<h2 class="position-h2">Visualizar</h2>
			<form th:object="${cliente}" th:action="@{/clientes}">
				<p>
					<label class="control-label">ID: </label>
					<input class = "form-control" th:field="*{id}" type="text" disabled="true" />
				</p>
				<p>
					<label class="control-label">Nome: </label>
					<input class = "form-control" th:field="*{nome}" type="text" disabled="true" />
				</p>
				<p>
					<label class="control-label">CPF: </label>
			 		<input class = "form-control" th:field="*{cpf}" type="text" disabled="true"/>
				</p>
				<p>
			 		<label class="control-label">Email: </label>
			 		<input class = "form-control" th:field="*{email}" type="text" disabled="true"/>
		 		</p>
		 		<p>
			 		<label class="control-label">Endereço: </label>
			 		<input class = "form-control" th:field="*{endereco}" type="text" disabled="true"/>
		 		</p>
		 		<p>
			 		<label class="control-label">Bairro: </label>
			 		<input class = "form-control" th:field="*{bairro}" type="text" disabled="true"/>
		 		</p>
		 		<p>
			 		<label class="control-label">CEP: </label>
			 		<input class = "form-control" th:field="*{cep}" type="text" disabled="true"/>
		 		</p>
		 		<p>
			 		<label class="control-label">Cidade: </label>
			 		<select class="form-control" th:field="*{idCidade}" disabled="true">
		                <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
		            </select>
	            </p>
	            <div class = "form-group">
	            	<label class="control-label">Situação: </label>
	            	<select class="form-control" th:field="*{situacaoCliente}" disabled="true">
	            		<option th:each="situacao : *{situacaoCliente.values()}" th:text="${situacao}" th:value="${situacao}"></option>
	            	</select>
	            </div>
					<button class="btn btn-primary" type="submit">Voltar</button>			
			</form>
		</div>
	</div>
	</body>
</html>