<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="template">
  	<head>
		<title>Clientes</title>
	</head>
	<body>
	<div layout:fragment="content">
	<h2 class="position-h2">Clientes</h2>
	<div th:if= "${mensagem}" th:text="${mensagem}" th:class = "alert" th:classappend = "alert-success" ></div>
		<div class="margem-top container-form">
			<form method="get">
				<div class="form-group">
					<div class="col-lg-2  pull-right">
						<input class="form-control" name="nome" placeholder = "Pesquise pelo cliente" type="text"/>
						<button class="btn btn-primary pull-right" type="submit">Pesquisar</button>
					</div>
				</div>
			</form>
		</div>
	<div th:if="${not #lists.isEmpty(clientes)}">
        <table class = "table table-hover table-responsive">
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Situação</th>
                <th>Visualizar</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.situacao}"></td>
                <td><a th:href="${ '/clientes/exibe/' + cliente.id}">Visualizar</a></td>
                <td><a th:href="${'/clientes/editar/' + cliente.id}">Editar</a></td>
                <td><a th:href="${'/clientes/remover/' + cliente.id}">Remover</a></td>
            </tr>
        </table>
    </div>
    </div>
    <footer>
			<div>
				<div class="col-md-12 pull-left">
					&copy;Copyright 2015 - Alguns direitos reservados.
				</div>
			</div>
		</footer>
	</body>
	
</html>