@{
    ViewBag.Title = "Página Inicial";
}
<h2>Flash Games</h2>
<p id="apresentacao">Reviva os clássicos que marcaram milhões de pessoas</p>

<img id="imgHome" src="~/Content/Images/personagens-game-jogos.jpg" />
<button id="btnListarJogos" type="button" class="btn btn-primary">Exibir lista de jogos</button>
