<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="template">
  	<head>
		<title>Produtos</title>
	</head>
	<body>
	<div layout:fragment="content">
	<h2 class="position-h2">Produtos</h2>
	<div th:if= "${mensagem}" th:text="${mensagem}" th:class = "alert" th:classappend = "alert-success" ></div>
		<div th:if="${not #lists.isEmpty(produtos)}">
	        <table class = "table table-hover table-responsive">
	            <tr>
	            	<th>Serviço</th>
	                <th>Material</th>
	                <th>Valor</th>
	                <th>Prazo</th>
	                <th>Situação</th>
	                <th
	                	th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Editar
					</th>
	            </tr>
	            <tr th:each="produto: ${produtos}">
	            	<td th:text="${produto.idServico.descricao}"></td>
	                <td th:text="${produto.idMaterial.descricao}"></td>
	                <td th:text="${produto.valor}"></td>
	                <td th:text="${produto.prazo}"></td>
	                <td th:text="${produto.situacao}"></td>
	                <td th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >
	                	<a th:href="${'/produtos/editar/' + produto.idProduto}">Editar</a>
	                </td>
	            </tr>
	        </table>
    	</div>
    </div>
    <footer>
			<div>
				<div class="col-md-12 pull-left">
					&copy;Copyright 2015 - Alguns direitos reservados.
				</div>
			</div>
		</footer>
	</body>
	
</html>